* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Inter, Roboto, Oxygen sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #2c3e50;
  background: #cdd1d5;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 10px;
}

.card {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-item {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 2.2rem;
  font-weight: 600;
}

hr {
  margin: 1rem 0;
}

.form-control {
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-control input {
  margin: 0;
  outline: none;
  border: 2px solid #ccc;
  display: block;
  width: 60%;
  color: #2c3e50;
  padding: 0.5rem 1.5rem;
  border-radius: 3px;
  font-size: 1rem;
}

.form-control label {
  display: block;
  margin: 0.5rem;
  font-weight: 500;
}

.form-control input:active,
.form-control input:focus {
  -webkit-transition: border 0.22s;
  transition: border 0.22s;
  border: 2px solid #42b983;
}

.btn {
  color: #42b983;
  position: relative;
  place-content: center;
  place-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 99px;
  letter-spacing: 0.05em;
  border: 1px solid #42b983;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 10px;
  padding: 0.5rem 1.5rem;
  white-space: nowrap;
  font-weight: 700;
  outline: none;
  background: #fff;
  -webkit-transition: all 0.22s;
  transition: all 0.22s;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn:active {
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn.danger {
  background: #e53935;
  color: #fff;
  border-color: #e53935;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 1 !important;
  background: #eee !important;
  border-color: #ddd !important;
  color: #999 !important;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 0;
}

.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #606F81;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #606F81), color-stop(42%, rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #606F81 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: #606F81;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.strong {
  font-weight: bold;
  text-decoration: underline;
}

.done {
  color: darkgray;
  text-decoration: line-through;
}

.active {
  color: #fff;
  background: #42b983;
}

.alert {
  padding: 1rem 1.5rem;
  border-left-width: .5rem;
  border-left-style: solid;
  margin: 1rem 0;
  position: relative;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.alert.danger {
  border-color: #e53935;
  background-color: #f8f8f8;
}

.alert p {
  color: #222;
  line-height: 1.7;
}

.alert-title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: -.4rem;
  color: #222;
}
/*# sourceMappingURL=style.css.map */